*{
box-sizing: border-box;
padding: 0;
margin: 0;
}


body{
width: 100%;
}

main{
/* background-image: url("../desafio/assets/resort-2.jpg"); */
background-position: fixed;
background-repeat: no-repeat;
background-attachment: fixed;
height: 100vh;
width: 100vw; 
background-size: cover;

flex-wrap: wrap;
}


.cabecalho{
background-color:#f4f4f4 ;
display: flex;
justify-content: space-between;
}

.componentes-header{
display: flex;
gap: 55px;
padding: 25px;
}
@media screen and (max-width:768px){
.componentes-header{
flex-direction: column;
align-items: center;
gap: 15px;
}
}
li{
list-style: none;
}

.navbar{
background-color: blue !important;
}
strong{
color: #fff;
font-size: 25px;
}

a{
text-decoration: none !important;
}

.cabecalho img{
max-width:200px;
max-height:150px;
width: auto;
height: auto;
padding: 15px;
}


.cards{
display: flex;
gap: 25px;
justify-content: center;
align-items: center;
margin-top: 55px;
}

.cards img{
max-width:200px;
max-height:150px;
width: auto;
height: auto;
}

.cards a{
text-decoration: none !important;
border: 2px solid rgb(80, 80, 126);
background-color: blue;
color:white !important;
box-shadow: rgba(0,0,0,0.1);
}

.contatos{
background-color: rgba(0,0,0,0.6);
opacity: 1;
padding: 20px;
margin-top: 15px;
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 9vw;
margin-top: 25px;
}
.contatos h3{
color: #fff;
}

.contatos img{
max-width:200px;
max-height:150px;
width: auto;
height: auto;
padding: 15px;
margin-left: 45px;
border-radius: 5px;
/* background-color: #fff; */
}

.whatss{
background-color: #fff; 
}

.email{
background-color: #fff; 
}

.insta{
background-color: #fff; 
}
.items-footer{
display:flex ;

}
/* .fim-footer{
background-color: rgba(0,0,0,0.6);
}
.fim-footer p{
color: #f4f4f4;
} */

/* página destino */
/* .slide{
background-color: rgb(93, 93, 145) !important; */

.principal-slide{
background-color: rgb(93, 93, 145) !important;
}
.carousel-item p,h5{
margin-left: 779px;
}
.destino{
width: 100%;
}

.carousel{
position: relative!important;
height: calc(100vh - (2*2rem))!important;
overflow: hidden;
}

.carousel a{
color: #fff;
text-decoration: none;
font-size:1em;
padding:.5em 1em;
transition: all ease-in-out.3s;
text-align: center;
border-radius: 5px;
left:calc((100%/2)-(.5em));
margin-top: -36px;
margin-left: 756px;
}


.needs-validation{
padding: 35px;
}


.cadastro-link{
display: inline-block;
background:#F8BABA ;
color: white;
padding: 10px 20px;
border-radius: 5px;
text-transform: uppercase;
font-weight: bold;
margin-right: auto;
transition:all linear.3s;
cursor: pointer;
position: absolute;
top:-40px;
right: 0;
z-index: 999;
left: 12px;
}


@media screen and (max-width:768px) {
.carousel p,h5,a{
    margin-left: 0;
}
}



.img-promo{
    display: flex;
}

.conteudo-promo{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.img-promo img{
max-width:200px;
max-height:150px;
width: auto;
height: auto;
object-fit: cover;
border:0;
vertical-align: middle;
border-radius: 6px;
padding: 1rem;
box-shadow: rgba(0, 0, 0,.1) -2px
}

.principal-promo{
width: 100%;
}
.conteudo-promo p{
font-size:1em!important ;

padding: .5rem  1rem;
border-top-right-radius: 6px;
box-sizing: content-box;
    
}
.conteudo-promo a{
background:#4CAF50;color:#fff;text-decoration:none;margin:0;

padding:.7rem 3rem;
border-bottom-left-radius: 6px;
box-sizing: content-box;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 1px;
transition: all ease-in-out 0.3s;
cursor: pointer;
outline: none;
position: relative;
}
.promocao{
    
height:auto;
padding: 1rem;
margin-bottom: 1rem;
border-radius: 6px;
box-shadow:rgba(0, 0, 0,.1);
position:relative;
overflow:hidden;
transition:all ease.3s;
cursor:pointer;

}

.promocao p{
font-family:'Open Sans', sans-serif;
color:#626264;
margin-bottom: 1rem;
text-align:center;
    
    
}





.header-blue {
    background:linear-gradient(135deg, #172a74, #21a9af);
    background-color:#184e8e;
    padding-bottom:80px;
    font-family:'Source Sans Pro', sans-serif;
  }
  
  @media (min-width:768px) {
    .header-blue {
      padding-bottom:120px;
    }
  }
  
  .header-blue .navbar {
    background:transparent;
    padding-top:.75rem;
    padding-bottom:.75rem;
    color:#fff;
    border-radius:0;
    box-shadow:none;
    border:none;
  }
  
  @media (min-width:768px) {
    .header-blue .navbar {
      padding-top:1rem;
      padding-bottom:1rem;
    }
  }
  
  .header-blue .navbar .navbar-brand {
    font-weight:bold;
    color:inherit;
  }
  
  .header-blue .navbar .navbar-brand:hover {
    color:#f0f0f0;
  }
  
  .header-blue .navbar .navbar-collapse {
    border-top:1px solid rgba(255,255,255,0.3);
    margin-top:.5rem;
  }
  
  @media (min-width:768px) {
    .header-blue .navbar .navbar-collapse {
      border-color:transparent;
      margin:0;
    }
  }
  
  .header-blue .navbar .navbar-collapse span .login {
    color:#d9d9d9;
    margin-right:.5rem;
    text-decoration:none;
  }
  
  .header-blue .navbar .navbar-collapse span .login:hover {
    color:#fff;
  }
  
  .header-blue .navbar .navbar-toggler {
    border-color:rgba(255,255,255,0.3);
  }
  
  .header-blue .navbar .navbar-toggler:hover, .header-blue .navbar-toggler:focus {
    background:none;
  }
  
  .header-blue .navbar .navbar-nav a.active, .header-blue .navbar .navbar-nav > .show .dropdown-item {
    background:none;
    box-shadow:none;
  }
  
  @media (min-width: 768px) {
    .header-blue .navbar-nav .nav-link {
      padding-left:.7rem;
      padding-right:.7rem;
    }
  }
  
  @media (min-width: 992px) {
    .header-blue .navbar-nav .nav-link {
      padding-left:1.2rem;
      padding-right:1.2rem;
    }
  }
  
  .header-blue .navbar .navbar-nav > li > .dropdown-menu {
    margin-top:-5px;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
    background-color:#fff;
    border-radius:2px;
  }
  
  .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item {
    line-height:2;
    color:#37434d;
  }
  
  .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item:hover {
    background:#ebeff1;
  }
  
  .header-blue .action-button, .header-blue .action-button:not(.disabled):active {
    border:1px solid rgba(255,255,255,0.7);
    border-radius:40px;
    color:#ebeff1;
    box-shadow:none;
    text-shadow:none;
    padding:.3rem .8rem;
    background:transparent;
    transition:background-color 0.25s;
    outline:none;
  }
  
  .header-blue .action-button:hover {
    color:#fff;
  }
  
  .header-blue .navbar .form-inline label {
    color:#d9d9d9;
  }
  
  .header-blue .navbar .form-inline .search-field {
    display:inline-block;
    width:80%;
    background:none;
    border:none;
    border-bottom:1px solid transparent;
    border-radius:0;
    color:#ccc;
    box-shadow:none;
    color:inherit;
    transition:border-bottom-color 0.3s;
  }
  
  .header-blue .navbar .form-inline .search-field:focus {
    border-bottom:1px solid #ccc;
  }
  
  .header-blue .hero {
    margin-top:20px;
    text-align:center;
  }
  
  @media (min-width:768px) {
    .header-blue .hero {
      margin-top:60px;
      text-align:left;
    }
  }
  
  .header-blue .hero h1 {
    color:#fff;
    font-size:40px;
    margin-top:0;
    margin-bottom:15px;
    font-weight:300;
    line-height:1.4;
  }
  
  @media (min-width:992px) {
    .header-blue .hero h1 {
      margin-top:190px;
      margin-bottom:24px;
      line-height:1.2;
    }
  }
  
  .header-blue .hero p {
    color:rgba(255,255,255,0.8);
    font-size:20px;
    margin-bottom:30px;
    font-weight:300;
  }
  
  .header-blue .phone-holder {
    text-align:right;
  }
  
  .header-blue div.iphone-mockup {
    position:relative;
    max-width:300px;
    margin:20px;
    display:inline-block;
  }
  
  .header-blue .iphone-mockup img.device {
    width:100%;
    height:auto;
  }
  
  .header-blue .iphone-mockup .screen {
    position:absolute;
    width:88%;
    height:77%;
    top:12%;
    border-radius:2px;
    left:6%;
    border:1px solid #444;
    background-color:#aaa;
    overflow:hidden;
    background:url(../../assets/img/screen-content-iphone-6.jpg);
    background-size:cover;
    background-position:center;
  }
  
  .header-blue .iphone-mockup .screen:before {
    content:'';
    background-color:#fff;
    position:absolute;
    width:70%;
    height:140%;
    top:-12%;
    right:-60%;
    transform:rotate(-19deg);
    opacity:0.2;
  }
  
  

  h5
  {
    margin:0px;
    font-size:1.4em;
    font-weight:700;
  }
  
  p
  {
    font-size:12px;
  }
  
  .center
  {
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* End Non-Essential  */
  
  .property-card
  {
    
    height:18em;
    width:14em;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    position:relative;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius:16px;
    overflow:hidden;
    -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  }
  /* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */
  
  /* Top Half of card, image. */
  
  .property-image
  {
    height:6em;
    width:14em;
    padding:1em 2em;
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image:url('https://cdn.photographylife.com/wp-content/uploads/2017/01/What-is-landscape-photography.jpg');
    background-size:cover;
    background-repeat:no-repeat;
  }
  
  /* Bottom Card Section */
  
  .property-description
  {
    background-color: #FAFAFC;
    height:12em;
    width:14em;
    position:absolute;
    bottom:0em;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align:center;
  }
  
  /* Social Icons */
  
  .property-social-icons
  {
    width:1em;
    height:1em;
    background-color:black;
    position:absolute;
    bottom:1em;
    left:1em;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  /* Property Cards Hover States */
  
  .property-card:hover .property-description
  {
    height:0em;
    padding:0px 1em;
  }
  .property-card:hover .property-image
  {
    height:18em;
  }
  
  .property-card:hover .property-social-icons
  {
    background-color:white;
  }
  
  .property-card:hover .property-social-icons:hover
  {
    background-color:blue;
    cursor:pointer;
  }
  
  

  .card-bd{
    display: flex;
    background-image: radial-gradient(circle at 100% 0%, #66c496 0, #59c59f 5%, #4ac5a8 10%, #3ac6b2 15%, #27c6bc 20%, #0ac6c5 25%, #00c5cf 30%, #00c5d7 35%, #00c4df 40%, #00c2e7 45%, #0cc1ed 50%, #2cbff2 55%, #43bdf7 60%, #57bbfa 65%, #69b8fc 70%, #7ab5fc 75%, #8ab2fc 80%, #9aaffa 85%, #a8abf7 90%, #b6a8f3 95%, #c2a4ed 100%);
  }






  .footer {
    background-color: #b4b0b0 !important;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
}



















  